@import "../../assets/scss/config";
.main {
  display: flex;
  justify-content: center;
}
.parcelInfoContainer {
  display: flex;
  max-width: 80%;
  margin-top: 20px;
  padding-bottom: 40px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  flex-direction: column;
  align-items: center;
  .header-information,
  .parcel-information {
    width: 80%;
  }
  .header-information {
    display: flex;
    margin-top: 20px;
    .logo {
      color: #d22d1d;
    }
    .qr-code {
      margin-top: auto;
    }
    justify-content: space-around;
  }
  .parcel-information {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
    position: relative;

    .boxes {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 3fr;
      border: 2px solid black;
      flex: 1;
      margin-top: 1rem;
      .box,
      .box-3,
      .box-4 {
        border: 1px solid black;
        p {
          font-size: 0.9rem;
          margin: 0;
          // color: #7d7c7c;
          // font-weight: 500;
        }
      }

      .box {
        padding: 7px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .code {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      .box-3 {
        .section {
          .parcel-value {
            .smallTable {
              width: 100%;
              margin-left: -9px;
              .smtable {
                width: calc(100% + 14px);
                border-right: 2px solid black;
              }
            }
          }
          .dottedLine {
            border: none;
            border-bottom: 2px dotted #000;
            color: #fff;
            background-color: #fff;
            height: 20px;
            width: 100%;
          }
          padding: 7px;
          .parcel-type {
            display: flex;
            gap: 5px;
            flex-direction: column;
            margin-bottom: 5px;
            .check-box-group {
              display: flex;
              justify-content: space-around;
              align-items: center;
              label {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                font-size: 0.9rem;
                .input[type="checkbox"] {
                  display: none;
                }

                /* Style for the custom checkbox */
                .custom-checkbox {
                  display: inline-block;
                  width: 15px;
                  height: 15px;
                  border: 2px solid #333;
                  border-radius: 4px;
                  position: relative;
                  cursor: pointer;
                }

                /* Style for the custom checkmark */
                .custom-checkbox::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 10px;
                  height: 10px;
                  background-color: #333;
                  border-radius: 2px;
                  opacity: 0;
                }

                /* Show the checkmark when checkbox is checked */
                .input[type="checkbox"]:checked + .custom-checkbox::after {
                  opacity: 1;
                }
              }
            }
          }
          .parcel-content-value-table {
            tr {
              td:first-child,
              td:last-child {
                max-width: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
          &:first-of-type {
            border-bottom: 2px solid black;
          }
          .sender-signature {
            display: grid;
            grid-template-columns: 1fr 1fr;
            .signature {
              display: flex;
              align-items: center;
              flex-direction: column;
            }
          }
        }
        .sender-instruction {
          padding: 7px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          border-bottom: 2px solid black;
          .check-box-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            label {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.5rem;
              font-size: 0.9rem;
              overflow: hidden;
              .input[type="checkbox"] {
                display: none;
              }

              /* Style for the custom checkbox */
              .custom-checkbox {
                display: inline-block;
                width: 15px;
                height: 15px;
                border: 2px solid #333;
                border-radius: 4px;
                position: relative;
                cursor: pointer;
              }

              /* Style for the custom checkmark */
              .custom-checkbox::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 10px;
                height: 10px;
                background-color: #333;
                border-radius: 2px;
                opacity: 0;
              }

              /* Show the checkmark when checkbox is checked */
              .input[type="checkbox"]:checked + .custom-checkbox::after {
                opacity: 1;
              }
            }
          }
        }
      }

      .box-4 {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .section {
          display: grid;
          grid-template-columns: 7fr 4fr;
          .left {
            .delivery-fare,
            .recipient-fare {
              border-bottom: 2px solid black;
              border-right: 2px solid black;
              padding: 7px;
              .fare {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                  font-size: 0.9rem;
                }
                &:last-of-type {
                  font-weight: bold;
                }
              }
            }
          }
          .right {
            display: flex;
            flex-direction: column;
            .parcel-weight {
              padding: 5px;
              border-bottom: 2px solid black;
              .weight {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                  font-size: 0.9rem;
                }
              }
            }
            .parcel-note {
              padding: 7px;
              border-bottom: 2px solid black;
              flex: 1;
            }
          }
        }
        .section {
          height: 100%;
          .parcel-approval {
            padding: 7px;
            display: flex;
            border-right: 2px solid #000;
            overflow: hidden;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            // padding-bottom: 81px;
            flex: 1;
            height: 100%;
          }
          .delivery-date {
            padding: 7px;
            display: flex;
            flex-direction: column;
            p:not(:first-child) {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}
